.silver{
  background-color:  silver !important;
  opacity: 0.5;
}

.orange{
  background-color:  orange !important;
  opacity: 0.5;
}
.blue{
  background-color:  blue !important;
  opacity: 0.5;
}
.black{
  background-color:  black !important;
  opacity: 0.5;
}