.silver{
  background-color:  silver !important;
  
}

.orange{
  background-color:  orange !important;
  
}
.blue{
  background-color:  blue !important;
  
}
.black{
  background-color:  black !important;
  
}