

.times-new-roman{
	font-family: "Times New Roman" !important ;
}

.arial {
	font-family: "Arial" !important;
}

/* estilos de fuentes*/
.bellefair{
  font-family: 'Bellefair' , serif !important;

}
.bellefair  a{
  font-family: 'Bellefair'  !important;

}
.bellefair  div{
  font-family: 'Bellefair'  !important;
}